<% flash.each do |msg| %>
<%= msg[1] %>
<% end %>

<head>
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/menus.css">
  <link rel="stylesheet" href="/look.css">
</head>

<body>
  <nav>
    <div id="main-navbar" class="container-fluid">
      <a class="navbar-brand" href="/">nanoTwitter</a>

      <div class="nav navbar-nav right">
        <li><a href="/user/profile">Account </a></li>
        <li>
          <form class="navbar-form">
            <button class="btn btn-link" type="submit" formaction="/logout" formmethod="GET">Logout</button>
          </form>
        </li>
        <li>
          <form class="navbar-form" role="search">
              <input type="text" name="tweet_search"class="form-control" placeholder="Search Tweets!" formaction="/tweet_search" formethod="POST" role="search">
              <button type="submit" class="btn btn-default" formaction="/tweet_search" formmethod="POST" role="submit">Search</button>
          </form>
        </li>
      </div>
    </div>
  </nav>

  <div id="profile-box" class="containter left content">
    <h2> @<%= user = User.find(userid).handle %>'s Profile
      <a href="/followers?userid=<%=userid%>">Followers: <%= @num_followers %> Users</a>
	    <a href="/followees?userid=<%=userid%>">Following: <%= @num_following %> Users</a>
    </h2>

    <% if login? && userid.to_i != @session_id %>
      <% if @does_follow == false %>
        <form action='/follow' method = "POST">
            <input id="userid" type="hidden" name="userid" value= "<%= userid%>">
            <input type='submit' value='Follow'>
        </form>

      <% elsif @does_follow == true %>
          <form action='/unfollow' method = "POST">
              <input id="userid" type="hidden" name="userid" value= "<%= userid%>">
              <input type='submit' value='Unfollow'>
          </form>
      <% end %>
    <% end %>
    

    <h3> Your Recent Tweets </h3>
    <br>
      <!-- get 5 records starting from last record where id = user_id -->
    <ul>
      <% t = Tweet.timeline_search(userid) %>  
      <% t.each do |elem| %>
      <li><p><%= elem.text %></p></li>
      <br>
      <% end %>
    </ul>
  </div>


</body>
