<% flash.each do |msg| %>
<%= msg[1] %>
<% end %>

<head>
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap-theme.min.css">
</head>

<body>
  <!--navbar -->
  <nav class="navbar menu">
    <div class="container-fluid">
      <div class="navbar-header">
            <form>
              <button class="navbar-brand btn btn-link btn-inverse" type="submit" formaction="/main" formmethod="GET">nanoTwitter</button>
            </form>  
      </div>


              <!-- Can you connect this for me? -->
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/profile">Account</a></li>
          <li>
            <!-- log out form -->
            <form>
              <button class="btn btn-inverse" type="submit" formaction="/logout" formmethod="GET">Logout</button>
            </form>
          </li>
        </ul>
      
        <div class="nav nav-search">
          <!-- tweet search form -->       
          <form>
            <input type='search' name="tweet_search" placeholder='search' role="search" placeholder="Search Tweets" formaction="/tweet_search" formmethod="POST"> </i>
          </form>
          <button class="btn btn-primary" type="submit" formaction="/tweet_search" formmethod="POST" >Search</button>
        </div>

    </div>
  </nav>



  <h1> @<%= user = User.find(userid).handle %>'s Profile </h1>
	
	<h4><a href="/followers?userid=<%=userid%>">Followers: <%= @num_followers %> Users</a></h4>
	<h4><a href="/followees?userid=<%=userid%>">Following: <%= @num_following %> Users</a></h4>
	<br>

	<% if login?%>

	<% if @does_follow == false %>
		<form action='/follow' method = "POST">
				<input id="userid" type="hidden" name="userid" value= "<%= userid%>">
				<input type='submit' value='Follow'>
		</form>
	<% elsif @does_follow == true %>
		<form action='/unfollow' method = "POST">
				<input id="userid" type="hidden" name="userid" value= "<%= userid%>">
				<input type='submit' value='Unfollow'>
		</form>
	<% end %>

  <% end %>

		
  <div class="content">
    <div class=""> 
      <h3> Your Recent Tweets </h3>
      <!-- get 5 records starting from last record where id = user_id -->
    	<% t = Tweet.timeline_search(userid) %>  
    	<% t.each do |elem| %>
    	<%= elem.text %>
    <br>
    <% end %>
	
    </div>
  </div>
  <br>
</body>
