<% flash.each do |msg| %>
<%= msg[1] %>
<% end %>

<head>
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/menus.css">
	<link rel="stylesheet" href="/cards.css">
</head>

<body>
  <nav>
    <div id="main-navbar" class="container-fluid">
      <a class="navbar-brand" href="/">nanoTwitter</a>

      <div class="nav navbar-nav right">
        <li><a href="/user/profile">Account </a></li>
        <li>
          <form class="navbar-form">
            <button class="btn btn-link" type="submit" formaction="/logout" formmethod="GET">Logout</button>
          </form>
        </li>
        <li>
          <form class="navbar-form" role="search">
              <input type="text" name="tweet_search"class="form-control" placeholder="Search Tweets!" formaction="/tweet_search" formethod="POST" role="search">
              <button type="submit" class="btn btn-default" formaction="/tweet_search" formmethod="POST" role="submit">Search</button>
          </form>
        </li>
      </div>
    </div>
  </nav>

  <div id="profile-box" class="containter left content">
    <h2> @<%= @username %>'s Profile
      <a href="/followers?userid=<%=profile_user_id%>">Followers: <%= REDIS.get(@username+"_num_followers") %> Users</a>
	    <a href="/followees?userid=<%=profile_user_id%>">Following: <%= REDIS.get(@username+"_num_following") %> Users</a>
    </h2>

    <!-- Checks if you are logged in and if your userid matches the profile's user id-->
    <% if login? && userid != profile_user_id.to_i %>
      <% if @does_follow == false %>
        <form action='/follow' method = "POST">
            <input id="userid" type="hidden" name="userid" value= "<%= profile_user_id%>">
            <input type='submit' value='Follow'>
        </form>

      <% elsif @does_follow == true %>
          <form action='/unfollow' method = "POST">
              <input id="userid" type="hidden" name="userid" value= "<%= profile_user_id%>">
              <input type='submit' value='Unfollow'>
          </form>
      <% end %>
    <% end %>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>

	<div class="content">
		<span id="tweet-list">
			<h4>This User's Tweets</h4>
			<ul>
				<% REDIS.lrange(@username+"_personal",0,100).reverse_each do |tweet| %>
          <% parse = JSON.parse(tweet)%>
					<!-- This line of code triggers the modal, and should trigger to show the user's profile -->
					<li data-toggle="modal" data-target="#myModal">
						<img src="http://lorempixum.com/100/100/nature/1">
						<p>
							<a href="/user/<%=profile_user_id%>">@<%=@username %></a>
							<br><a><%= parse["created_at"] %></a>
						</p>
						<p> <%= parse["text"]%> </p>
					</li>
				<% end %>
			</ul>
		</span>
	</div>
</body>
