<% flash.each do |msg| %>
<%= msg[1] %>
<% end %>
<!-- get th user id -->
<% u = User.where(handle: username) %>
<% id = u[0].id %>

<head>
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/cards.css">
  <link rel="stylesheet" href="/menus.css">
</head>


<body>
  <nav>
    <div id="main-navbar" class="container-fluid">
      <a class="navbar-brand" href="/">nanoTwitter</a>

      <div class="nav navbar-nav right">
        <li><a href="/user/profile">Account </a></li>
        <li>
          <form class="navbar-form">
            <button class="btn btn-link" type="submit" formaction="/logout" formmethod="GET">Logout</button>
          </form>
        </li>
        <li>
          <form class="navbar-form" role="search">
              <input type="text" name="tweet_search"class="form-control" placeholder="Search Tweets!" formaction="/tweet_search" formethod="POST" role="search">
              <button type="submit" class="btn btn-default" formaction="/tweet_search" formmethod="POST" role="submit">Search</button>
          </form>
        </li>
      </div>
    </div>
  </nav>




  <div id="profile-box" class="container left">
    <div id="user-quick-profile">
      <h2>
        <span> @<%= username %> </span>
        <span><a href="/followers?userid=<%=id%>">You have <%= @num_followers %> Followers</a></span>
        <span><a href="/followees?userid=<%=id%>">You are following <%= @num_following %> users</a></span>
      </h2>
    </div>
      <!-- content -->
  </div>

  <div class="content">
    <!-- Form to tweet -->
    <form style="width: 95%;" id="tweet-bar" class="containter form-group">
      <input type='text' name='text' placeholder="What's happening right now?">
      <button class="btn btn-primary" type="submit" formaction="/tweet" formmethod="POST" >Post Tweet</button>
    </form>

    <span id="tweet-list">
      <h4> Recent Tweets By You and The People You Follow </h4>
      <ul>
        <% @followee_tweets.each do |tweet| %>
        <!-- This line of code triggers the modal, and should trigger to show the user's profile -->
        <li data-toggle="modal" data-target="#myModal">
          <img src="http://lorempixum.com/100/100/nature/1">
            <p>
              <!-- this should be the Username that is public -->
              <a href="/user/<%=tweet.user_id%>">Username</a>
              <!-- this should be the @usertag -->
              <a href="/user/<%=tweet.user_id%>">@<%=tweet.handle %></a>
              <a>timestamp</a>
            </p>
            <p> <%= tweet.text %> </p>
        </li>
        <% end %>
      </ul>
    </span>

    <span id="tweet-list">
      <h4> Global Tweets </h4>
      <ul>
        <% @global_tweets.each do |tweet| %>
        <!-- This line of code triggers the modal, and should trigger to show the user's profile -->
        <li data-toggle="modal" data-target="#myModal">
          <img src="http://lorempixum.com/100/100/nature/1">
            <p>
              <!-- this should be the Username that is public -->
              <a href="/user/<%=tweet.user_id%>">Username</a>
              <!-- this should be the @usertag -->
              <a href="/user/<%=tweet.user_id%>">@<%=tweet.handle %></a>
              <a>timestamp</a>
            </p>
            <p> <%= tweet.text %> </p>
        </li>
        <% end %>
      </ul>
    </span>
  </div>

<body>

